@import 'tailwindcss';
@plugin 'daisyui';
@plugin 'daisyui/theme' {
    name: "dracula";
    default: true;
    --color-primary: var(--color-base-content);
    --color-secondary: var(--color-base-300);
    --background: var(--color-neutral);
    --blog-card-background: var(--color-base-100);
    --card-p: 1.5rem;
}

@font-face {
  font-family: 'Questrial';
  src: url('./assets/fonts/Questrial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Questrial;
  background: var(--background);
}

/* a paragraph proceeded by another paragraph will have a top margin */
p + p {
    margin-top: 0.5rem;
}

a:hover, button:hover {
    color: var(--color-neutral-content);
}

.card {
    background: var(--blog-card-background);
}
