@import 'tailwindcss';
@plugin 'daisyui';
@plugin 'daisyui/theme' {
    name: "dracula";
    default: true;
    --color-base-100: #282e52;
    --color-base-200: #282e52;
    --color-base-300: #131832;
    --color-primary: #be9b47;
    --color-secondary: #be9b47;
    --color-secondary-highlight: #eecb77;
    --background: #181e42;
    --blog-card-background: var(--color-base-100);
    --card-p: 1.5rem;
}

@font-face {
    font-family: 'Questrial';
    src: url('./assets/fonts/Questrial-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Questrial;
    background: var(--background);
}

h2 {
    color: var(--color-primary);
}

input:focus {
    outline: none;
}

p {
    text-justify: auto;
}

/* a paragraph proceeded by another paragraph will have a top margin */
p + p {
    margin-top: 0.5rem;
}

a:hover, button:hover, .icon:hover {
    color: var(--color-secondary-highlight);
    cursor: pointer;
    transition: color 0.125s;
}

.card {
    background: var(--blog-card-background);
}
